<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 命名空间（Namespaces） 建议使用完全限定名可以保证全局唯一也可以作为一个单独的引用 -->
<mapper namespace="com.amazeyope.dao.UserMapper" >
  <!-- resultMap 为映射对应的类型  resultType 为对应的java返回类型 -->
  <resultMap id="BaseResultMap" type="com.amazeyope.model.User" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="AGE" property="age" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, AGE, ADDRESS
  </sql>

  <select id="getAll" resultMap="BaseResultMap">
	select ID, NAME, AGE, ADDRESS from T_USER
  </select>

  <insert id="insert" parameterType="com.amazeyope.model.User" >
    insert into T_USER (ID, NAME, AGE,
    ADDRESS)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR},
    #{address,jdbcType=VARCHAR})
  </insert>

  <delete id="deleteById" parameterType="java.lang.String" >
    delete from T_USER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>

  <select id="getUserById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from T_USER
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <update id="updateById" parameterType="com.amazeyope.model.User" >
    update T_USER
    set NAME = #{name,jdbcType=VARCHAR},
    AGE = #{age,jdbcType=VARCHAR},
    ADDRESS = #{address,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <insert id="insertSelective" parameterType="com.amazeyope.model.User" >
    insert into T_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="age != null" >
        AGE,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByIdSelective" parameterType="com.amazeyope.model.User" >
    update T_USER
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        AGE = #{age,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="queryUserListByPage" parameterType="java.util.Map"  resultMap="BaseResultMap">
    select ID, NAME, AGE, ADDRESS from T_USER ORDER BY ID ASC
  </select>

</mapper>